<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/"><img src="/images/logo.PNG" alt="HTML5 Icon" style="width:75px;height:75px;"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/"><span class="white-link">Home</span><span class="sr-only">(current)</span></a>
				<a class="nav-link" href="/mygarden/{{plant.User.dataValues.username}}"><span class="white-link">My Garden</span></a>
			</li>
		</ul>
		<div>
			<a class="btn btn-secondary btn-lg" href="/logout" role="button">Log Out</a>
		</div>
	</div>
</nav>

<div class="container plant-container">
	<h1>{{plant.plant_name}}</h1>
	<h2>{{plant.personal_name}}</h2>

	<div class="row">
		<table class="table table-striped table-hover table-bordered col-8 plant-info-table">{{{plant.data}}}</table>
		<div class="col-4">
			<img src="{{plant.image_path}}" class="plantImg" width="300px" height="300px">
			<button type="submit" class="btn btn-lg btn-success" id="deletePlant" data-id="{{plant.id}}" data-username="{{plant.User.dataValues.username}}">Delete Plant From Garden</button>
		</div>
	</div>
</div>

<script src="/js/plants.js"></script>